@use '../variables';

.container {
  --container-width: #{variables.$container-width};
  --padding: 12px;

  max-width: var(--container-width);
  padding: 0 var(--padding);
  margin: 0 auto;
  box-sizing: content-box;
}
