
<!DOCTYPE html>
<html class="page no-js" lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <style>
    html {
      background-color: #070707;
      color: #f0f6fb;
    }

    a {
      color: inherit;
    }
  </style>
  <link rel="manifest" href="/manifest.webmanifest">
  <link rel="icon" href="/favicon.ico" sizes="any">
  <link rel="icon" href="/icon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  <link rel="stylesheet" href="/styles.css">
  {% if global.env !== 'prod' %}
  <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  {% endif %}
</head>
<body class="page__body">
  {{ content | safe}}

  {% if global.env !== 'prod' %}
  <script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
  {% endif %}
</script>
<script src="/script.js"></script>
</body>
</html>