<footer class="footer">
    <div class="footer__container container">
      <a class="footer__logo" href="/">
        <img src="images/logo.svg" alt="Vera Casino">
      </a>
      <nav class="footer__navigation">
        <ul class="footer__list">
          <li class="footer__item"><a class="footer__link" href="/terms.html">Affiliate agreement</a></li>
          <li class="footer__item"><a class="footer__link" href="/terms.html">Privacy policy</a></li>
        </ul>
      </nav>
    </div>
    <div class="copyright">
      <div class="copyright__container container">
        <span class="copyright__text">vera.partners</span>
        <span class="copyright__text">© copyright. All rights reserved.</span>
      </div>
    </div>
  </footer>