<header class="header js-header">
    <div class="header__container container">
      <a class="header__logo" href="/">
        <img src="images/logo.svg" alt="Vera Casino">
      </a>
      <button type="button" class="header__menu-button js-header__menu-trigger" aria-expanded="false" aria-label="Open menu" hidden></button>
      <nav class="header__navigation js-header__navigation">
        <div class="header__navigation-container container">
          <ul class="header__list">
            <li class="header__item"><a class="header__link" href="#partnership">Partnership</a></li>
            <li class="header__item"><a class="header__link" href="#brand">Brand</a></li>
            <li class="header__item"><a class="header__link" href="#cryptocurrencies">Cryptocurrencies</a></li>
            <li class="header__item"><a class="header__link" href="#contact-us">Contact us</a></li>
          </ul>
          <ul class="header__sign">
            <li class="header__sign-item">
              <a class="button button--outline button--small" href="https://backend.vera.partners/partner/login">Sign in</a>
            </li>
            <li class="header__sign-item">
              <a class="button button--outline button--small" href="https://backend.vera.partners/partner/register">Sign up</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </header>