.brand {
    position: relative;
    padding-top: 72px;
    padding-bottom: 128px;

    &__title {
        margin-bottom: 72px;
    }

    &__logo {
        margin-bottom: 32px;
    }

    &__content {
        font-weight: 500;
        font-size: 15px;
        line-height: 2.4;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #F0F6FB;
    }

    &__text {
        margin: 0;
    }

    &__converter-text {
        display: block;


        &:nth-child(1)::after,
        &:nth-child(2)::before {
            content: "";
            display: inline-block;
            width: 60px;
            height: 12px;
            background-image: url('../images/converter-arrow-mobile.svg');
            background-size: contain;
            background-repeat: no-repeat;
        }

        &:nth-child(1)::after {
            margin-left: 16px;
            transform: scaleX(-1);
        }

        &:nth-child(2)::before {
            margin-right: 16px;
        }
    }

    &__actions {
        margin-top: 32px;
    }

    &__secondary-action {
        display: none;
    }
}
