@use '../mixin';

.brand {
    position: relative;
    padding-top: 72px;
    padding-bottom: 128px;

    @include mixin.media('tablet') {
        padding-top: 192px;
        padding-bottom: 130px;
    }

    &::before {
        content: "";
        position: absolute;
        z-index: -1;
        bottom: -150px;
        right: 0;
        width: 320px;
        height: 640px;
        background-image: url('../images/background/mobile/brand.png');
        background-size: contain;
        background-position: right center;
        background-repeat: no-repeat;

        @include mixin.media('tablet') {
            bottom: -250px;
            width: 600px;
            height: 1150px;
            background-image: url('../images/background/tablet/brand.png');
        }
    }

    &__title {
        margin-bottom: 72px;
    }

    &__logo {
        margin-bottom: 32px;
    }

    &__content {
        font-weight: 500;
        font-size: 15px;
        line-height: 2.4;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #F0F6FB;

        @include mixin.media('tablet') {
            font-size: 16px;
            line-height: 2.5;
        }
    }

    &__text {
        margin: 0;

        @include mixin.media('tablet') {
            max-width: 75%;
        }
    }

    &__converter-text {
        white-space: nowrap;

        &:nth-child(1)::after,
        &:nth-child(2)::before {
            content: "";
            display: inline-block;
            width: 60px;
            height: 12px;
            background-image: url('../images/converter-arrow-mobile.svg');
            background-size: contain;
            background-repeat: no-repeat;
        }

        &:nth-child(1)::after {
            margin-left: 16px;
            transform: scaleX(-1);
        }

        &:nth-child(2)::before {
            margin-right: 16px;
        }
    }

    &__actions {
        margin-top: 32px;

        @include mixin.media('tablet') {
            display: flex;
            gap: 20px;
            margin-top: 52px;
        }
    }

    &__secondary-action {
        @include mixin.hideOnMobile;
    }
}
