.brand {
    padding-top: 192px;
    padding-bottom: 100px;
    min-height: 860px;

    &__title {
        margin-bottom: 97px;
    }
 
    &__content {
        max-width: 530px;
        font-weight: 500;
        font-size: 16px;
        line-height: 40px;
    }

    &__logo {
        margin-bottom: 52px;
    }

    &__text {
        margin: 0;
        white-space: pre-line;
    }

    &__converter-diagram {
        display: flex;
        margin-bottom: 52px;
    }

    &__converter-arrow {
        width: 60px;
        margin: 0 16px;
        object-fit: contain;
    }

    &__actions {
        display: flex;
        gap: 24px;
    }
}
