.contact-us {
    position: relative;
    padding-top: 72px;
    padding-bottom: 110px;

    &__background {

        &::before,
        &::after {
            content: "";
            position: absolute;
            background-repeat: no-repeat;
            background-size: cover;
            opacity: 0.2;
        }

        &::before {
            left: -740px;
            bottom: -470px;
            width: 985px;
            height: 1189px;
            background-image: url('../images/background/contact/mobile/triangle-single.svg');
            transform: rotate(160deg);
        }

        &::after {
            right: -215px;
            bottom: -470px;
            width: 630px;
            height: 620px;
            background-image: url('../images/background/contact/mobile/triangle-repeated.svg');
        }
    }

    &__title {
        margin-bottom: 52px;
    }

    &__item {
        margin-bottom: 60px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__icon {
        width: 40px;
        height: 65px;
        object-fit: cover;
    }

    &__caption {
        color: rgba(#f0f6fb, 0.5);
        font-size: 13px;
        line-height: 16px;
        font-weight: 500;
    }

    &__contact {
        margin: 0;
        font-weight: 400;
        font-size: 23px;
        line-height: 1.75;
        letter-spacing: 0.07em;
        text-transform: lowercase;
        background: linear-gradient(89.24deg, #E64CFF 0%, #FF30D9 14.33%, #FF1EB2 28.53%, #FF2E8C 42.93%, #FF4A6A 57.14%, #FF654C 71.44%, #FF7E32 85.74%, #F7931A 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }
}