.copyright {
    background-color: #000;
    padding: 24px 0;
    
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: rgba(#F0F6FB, 0.2);

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
