// Required Core Stylesheet
@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";

// Optional Theme Stylesheet
@import "node_modules/@glidejs/glide/src/assets/sass/glide.theme";

.cryptocurrencies {
    min-height: 760px;
    padding-top: 192px;
    padding-bottom: 70px;

    &__title {
        margin-bottom: 100px;
    }

    &__slider {
        margin-bottom: 60px;
    }

    &__coins {
        align-items: center;
    }

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__slogan {
        margin-top: 0;
        margin-bottom: 24px;
    }
}