@use '../mixin';

@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";
@import "node_modules/@glidejs/glide/src/assets/sass/glide.theme";

.cryptocurrencies {
    padding-top: 72px;
    padding-bottom: 65px;

    @include mixin.media('tablet') {
        padding-top: 192px;
        padding-bottom: 78px;
    }

    &__title {
        margin-bottom: 48px;

        @include mixin.media(370px, 'to') {
            width: min-content;
        }

        @include mixin.media('tablet') {
            margin-bottom: 100px;
        }
    }

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__slider {
        max-width: 800px;
    }

    &__coins {
        align-items: center;
    }

    &__image {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    &__slogan {
        margin-top: 45px;
        margin-bottom: 24px;

        @include mixin.media(450px, 'to') {
            width: min-content;
        }

        @include mixin.media('tablet') {
            margin-top: 78px;
        }
    }
}