@use '../mixin';

.footer {
    background-color: #040404;

    &__container {
        --vertical-padding: 32px;

        padding-top: var(--vertical-padding);
        padding-bottom: var(--vertical-padding);
        
        @include mixin.media('tablet') {
            --vertical-padding: 26px;

            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    &__logo {
        margin-right: 1em;
    }

    &__navigation {
        @include mixin.media('tablet', 'to') {
            margin-top: 32px;
        }
    }

    &__list {
        --link-padding: 8px;

        @include mixin.media('tablet') {
            display: flex;
            align-items: center;
            gap: 10px;

            margin-right: calc(-1* var(--link-padding));;
        }
    }

    &__link {
        display: block;
        margin-left: calc(-1* var(--link-padding));
        padding: 16px var(--link-padding);

        &:hover,
        &:focus {
            color: rgba(#fff, 0.5);
        }

        @include mixin.media('tablet') {
            --link-padding: 15px;

            margin-left: 0;
        }
    }

    &__registration {
        margin-left: 24px;
    }
}
