.footer {
    background-color: #040404;

    &__container {
        padding-top: 32px;
        padding-bottom: 32px;
    }

    &__logo {
        margin-right: 1em;
    }

    &__navigation {
        margin-top: 32px;
    }

    &__link {
        $horizontal-padding: 8px;

        display: block;
        margin-left: -$horizontal-padding;
        padding: 16px $horizontal-padding;

        &:hover,
        &:focus {
            color: rgba(#fff, 0.5);
        }
    }

    &__registration {
        margin-left: 24px;
    }
}
