@use '../mixin';
@use '../colors';

.header {
    --header-height: 64px;
    --vertical-padding: 16px;

    position: absolute;
    z-index: 10;
    top: 0;
    width: 100%;
    padding: var(--vertical-padding) 0;
    background-color: rgba(colors.$light-black, 0.8);

    @include mixin.media('tablet') {
        --header-height: 100px;

        --vertical-padding: 26px;
    }
    
    @include mixin.media('desktop') {
        --vertical-padding: 26px;
    }

    &__logo {
        margin-right: 1em;
    }

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__menu-button {
        @include mixin.media('desktop', 'to') {
            $lines-gap: 10px;
            $lines-width: 32px;

            --button-size: #{$lines-width};

            position: relative;
            width: var(--button-size);
            height: var(--button-size);
            background-color: transparent;
            border: 0;
            padding: $lines-gap 5px;
            color: #fff;

            &::before,
            &::after {
                content: "";
                position: absolute;
                left: calc((var(--button-size) - #{$lines-width}) / 2);
                top: 50%;
                width: $lines-width;
                height: 1px;

                background-color: currentColor;
                transition: transform 0.3s;
                transform-origin: center;
            }

            &::before {
                transform: translateY(-$lines-gap);
            }

            &::after {
                transform: translateY(0px);
                box-shadow: 0px $lines-gap 0 0 currentColor;
            }

            &[aria-expanded=true] {
                &::before {
                    transform: rotate(45deg);
                }

                &::after {
                    box-shadow: none;
                    transform: rotate(-45deg);
                }
            }
        }

        @include mixin.media('tablet') {
            --button-size: 48px;

            padding: 14px 8px;
        }
        
        @include mixin.media('desktop') {
            display: none;
        }
    }

    &__navigation {
        @include mixin.media('desktop', 'to') {
            position: absolute;
            top: var(--header-height);
            right: 100%;
            width: 100%;
            height: calc(100vh - var(--header-height));

            background-color: rgba(colors.$light-black, 0.8);
            transform: translateX(0);
            transition: transform 0.3s;

            &[aria-expanded=true] {
                transform: translateX(100%);
            }
        }

        @include mixin.media('tablet') {
            font-size: 18px;
        }

        @include mixin.media('tablet') {
            font-size: 13px;
        }
    }

    &__navigation-container {
        padding-bottom: 20px;

        @include mixin.media('desktop') {
            display: flex;
            align-items: center;
            padding-bottom: 0;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 8px;
        text-transform: uppercase;

        @include mixin.media('desktop') {
            flex-direction: row;
        }
    }

    &__link {
        display: block;
        padding: 8px;

        &:hover,
        &:focus {
            color: rgba(#fff, 0.5);
        }
    }

    &__registration {
        margin-top: 1.5em;

        @include mixin.media('desktop') {
            margin-top: 0;
            margin-left: 24px;
        }
    }
}

.no-js {
    .header {
        position: static;

        &__logo {
            margin-right: 0;
            margin-bottom: 2em;
        }

        &__container {
            display: block;
        }

        &__navigation {
            position: static;
            height: auto;
            transition: opacity ease-out 1s;
            transform: none;
            opacity: 1;
        }

        &__navigation-container {
            padding: 0;
        }
    }
}
