.partners-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2em;

    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        padding: 1.5em 3em;
        border-radius: 10px;
        border: 1px solid #e64cff;
        transition: border-color 0.5s;

        &:hover,
        &:focus {
            outline: 0;
            -webkit-tap-highlight-color: transparent;
            border-color: #970fad;

            .partners-list__image {
                transform: scale(1.15);
            }
        }
    }

    &__image {
        transition: transform ease-in-out 0.5s;
        height: 100%;
        min-height: 100px;
        object-fit: contain;
    }
}