@use '../mixin';

.partnership {
    position: relative;
    padding-top: 52px;
    padding-bottom: 64px;

    @include mixin.media('tablet') {
        padding-top: 192px;
        padding-bottom: 80px;
    }
    
    &::before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 320px;
        left: -450px;
        width: 1190px;
        height: 1430px;
        background-image: url('../images/mobile/triangle-single.svg');
        background-repeat: no-repeat;
        background-size: contain;
        transform: rotate(100deg);
        opacity: 0.1;

        @include mixin.media('tablet') {
            top: 90px;
            left: -130px;
        }
    }

    @include mixin.media('tablet') {
        &::after {
            content: "";
            position: absolute;
            top: -180px;
            left: 620px;
            width: 1190px;
            height: 1430px;
            background-image: url('../images/mobile/triangle-single.svg');
            background-repeat: no-repeat;
            background-size: contain;
            transform: rotate(42deg);
            opacity: 0.1;
        }
    }

    &__image-background {

        &::before {
            content: "";
            position: absolute;
            top: -100px;
            left: -850px;
            width: 980px;
            height: 1190px;
            background-image: url('../images/mobile/triangle-filled.svg');
            transform: rotate(160deg);
            opacity: 0.05;

            @include mixin.media('tablet') {
                left: -540px;
                top: -340px;
            }
        }

        @include mixin.media('tablet') {
            &::after {
                content: "";
                position: absolute;
                left: 0;
                top: 60px;
                width: 250px;
                height: 500px;
                background-image: url('../images/tablet/partnership.png');
                background-repeat: no-repeat;
                background-size: contain;
                opacity: 0.3;
            }
        }
    }


    &__title {
        margin-bottom: 56px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-bottom: 50px;

        @include mixin.media('tablet') {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    &__item {
        padding: 15px 40px 24px;
        text-align: center;
        font-weight: 500;
    }

    &__image-wrapper {
        --partnership-image-bg-size: 240px;
        --partnership-image-size: 135px;

        position: relative;
        min-width: var(--partnership-image-bg-size);
        min-height: var(--partnership-image-bg-size);
        margin-bottom: 32px;
        pointer-events: none;
        user-select: none;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: var(--partnership-image-bg-size);
            height: var(--partnership-image-bg-size);
            background-image: url('../images/partnership/item-bg.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            // transform: rotate(42deg);
        }
    }

    &__image {
        position: absolute;
        top: 50%;
        left: 50%;
        width: var(--partnership-image-size);
        height: var(--partnership-image-size);
        transform: translate(-50%, -50%);
    }

    &__item-title {
        margin: 0;
        font-size: 16px;
        line-height: 1.25;
        color: rgba(#f0f6fb, 50%);
    }

    &__item-accent {
        color: #f0f6fb;
        font-size: 22px;
        line-height: 1.66;
    }

    &__slogan {
        margin-top: 0;
        margin-bottom: 24px;
    }
}