.partnership {
    position: relative;
    min-height: 900px;
    padding-top: 192px;
    padding-bottom: 156px;
    
    &::before {
        content: "";
        position: absolute;
        left: -1300px;
        top: -110vh;
        // TODO: optimize image
        width: 2400px;
        height: 2600px;
        
        background-image: url('../images/background/partnership.png');
        background-repeat: no-repeat;
        // background-position: center right;
        background-size: contain;
    }
    
    &__title {
        margin-bottom: 56px;
    }

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__list {
        display: flex;
        justify-content: center;
        gap: 20px;
        margin-bottom: 52px;
    }

    &__item {
        padding: 15px 40px 24px;
        text-align: center;
        font-weight: 500;
    }

    &__image-wrapper {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 265px;
        min-height: 265px;
        margin-bottom: 32px;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 265px;
            height: 265px;
            background-image: url('../images/partnership/item-bg.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            transform: rotate(42deg);

            // background: linear-gradient(45.08deg, rgba(240, 246, 251, 0.2) -22.19%, rgba(240, 246, 251, 0) 106.06%);
            // box-shadow: inset -1px -1px 1px rgba(255, 255, 255, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.05), inset -1px 1px 2px rgba(255, 255, 255, 0.05);
            // backdrop-filter: blur(34px);
            // /* Note: backdrop-filter has minimal browser support */
            // clip-path: polygon(50% 0%, 90% 25%, 90% 75%, 50% 100%, 10% 74%, 10% 25%);
            // border-radius: 12px;
        }
    }

    &__image {
        position: relative;
    }

    &__item-title {
        margin: 0;
        font-size: 18px;
        color: rgba(#f0f6fb, 50%);
    }

    &__item-accent {
        color: #f0f6fb;
        font-size: 24px;
        line-height: 1.66;
    }

    &__slogan {
        margin-top: 0;
        margin-bottom: 24px;
    }
}