@use '../variables';
@use '../mixin';

.section-title {
    position: relative;
    display: block;
    margin-top: 0;
    margin-bottom: 0;
    width: fit-content;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.25;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #F0F6FB;

    @include mixin.media('tablet', 'to') {
        &::after {
            content: "";
            position: absolute;
            left: 100%;
            width: 88px;
            height: 16px;
            margin-left: 12px;
            background-image: url('../images/title-mobile.svg');
            background-repeat: no-repeat;
            background-size: contain;
        }
    }

    &--center {
        display: flex;
        align-items: flex-start;
        max-width: 65%;
        width: fit-content;
        text-align: center;

        &::before, &::after {
            content: "";
            position: absolute;
            width: 88px;
            height: 16px;
            background-image: url('../images/title-short.svg');
            background-repeat: no-repeat;
            background-size: contain;
        }

        &::before {
            right: 100%;
            margin-right: 12px;
        }
        
        &::after {
            left: 100%;
            margin-left: 12px;
            transform: rotate(180deg)
        }
    }
}
