@use '../variables';
@use '../mixin';

.section-title {
    position: relative;
    display: block;
    margin-top: 0;
    margin-bottom: 0;
    width: fit-content;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.25;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #F0F6FB;

    @include mixin.media('tablet', 'to') {
        &::after {
            content: "";
            position: absolute;
            left: 100%;
            width: 88px;
            height: 16px;
            margin-left: 12px;
            background-image: url('../images/title-mobile.svg');
            background-repeat: no-repeat;
            background-size: contain;
        }
    }
}
