@use '../mixin';

.text-content {
    counter-reset: heading;
    text-transform: none;
    font-size: 16px;
    line-height: 1.4;

    @include mixin.media('tablet') {
        font-size: 14px;
    }

    h2 {
        margin-top: 2em;
        margin-bottom: 1.5em;
        font-size: 18px;

        &:not([skip-counter]) {
            &::before {
                content: counter(heading) ". ";
                counter-increment: heading;
            }
        }
    }

    a {
        color: #E64CFF;
        transition: color 0.3s;

        &:hover,
        &:focus {
            color: #970FAD;
        }
    }

    dl {

        > div {
            margin-bottom: 1em;
        }
    }

    dt {
        display: inline;
    }

    dfn {
        text-transform: uppercase;
        font-style: normal;

        &::before,
        &::after {
            content: "\"";
            display: inline;
        }
    }

    dd {
        display: inline;
        margin-left: 0;
    }
    
    ol {
        counter-reset: item;

        ol, ul {
            padding: 0.7em 0;
        }
    }

    li {
        display: block;
        padding-left: 1.5em;

        &:not(:last-child) {
            margin-bottom: 0.5em;
        }
    }

    ol > li {
        &::before {
            content: attr(counter) ". ";
            counter-increment: item;
            margin-left: -1.5em;
        }
    }

    ul > li {
        &::before {
            content: "";
            display: inline-block;
            width: 0.5em;
            height: 0.5em;
            margin-left: -1.5em;
            margin-right: 1em;
            border-radius: 50%;
            background-color: currentColor;
        }
    }
}
