---
title: Vera Partners Crypto Casino Affiliate Program No.1
layout: 'base.njk'
---

  <header class="header header--static js-header">
    <div class="header__container container">
      <a class="header__logo" href="/">
        <img src="images/logo.svg" alt="Vera Casino">
      </a>
      <button type="button" class="header__menu-button js-header__menu-trigger" aria-expanded="false" aria-label="Open menu" hidden></button>
      <nav class="header__navigation js-header__navigation">
        <div class="header__navigation-container container">
          <ul class="header__sign">
            <li class="header__sign-item">
              <a class="button button--outline button--small" href="https://backend.vera.partners/partner/login">Sign in</a>
            </li>
            <li class="header__sign-item">
              <a class="button button--outline button--small" href="https://backend.vera.partners/partner/register">Sign up</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </header>
  <main class="page__content page-partners">
    <div class="container">
      <h1 class="page-terms__title section-title">Our partners</h1>
      
      <ul class="partners-list">
        <li class="partners-list__item">
          <a class="partners-list__link" href="https://bitcoinplay.net/" target="_blank">
            <img class="partners-list__image" src="./images/partners/bitcoinplay.svg" alt="bitcoin play" width="200" height="200">
          </a>
        </li>
        <li class="partners-list__item">
          <a class="partners-list__link" href="https://finixio.com/" target="_blank">
            <img class="partners-list__image" src="./images/partners/finixio.svg" alt="finixio" width="200" height="200">
          </a>
        </li>
        <li class="partners-list__item">
          <a class="partners-list__link" href="https://latestcasinobonuses.me/" target="_blank">
            <img class="partners-list__image" src="./images/partners/latest-casino-bonuses.png" alt="latest casino bonuses" width="200" height="200">
          </a>
        </li>
        <li class="partners-list__item">
          <a class="partners-list__link" href="https://iplaycrypto.com/" target="_blank">
            <img class="partners-list__image" src="./images/partners/iplaycrypto.svg" alt="iplaycrypto" width="200" height="200">
          </a>
        </li>
        <li class="partners-list__item">
          <a class="partners-list__link" href="http://enteresport.com/" target="_blank">
            <img class="partners-list__image" src="./images/partners/enter-sport.png" alt="enter esport" width="200" height="200">
          </a>
        </li>
      </ul>
      </div>
  </main>
  {% include 'footer.njk' %}