---
title: Vera Partners Crypto Casino Affiliate Program No.1
layout: 'base.njk'
---

  {% include 'header-simple.njk' %}
  <main class="page__content page-partners">
    <div class="container">
      <h1 class="page-terms__title section-title">Our partners</h1>
      
      <ul class="partners-list">
        {% for partner in collections.partners %}
          <li class="partners-list__item">
            <a class="partners-list__link" href="{{ partner.data.link }}" target="_blank">
              <div class="partners-list__image-wrapper">
                <img class="partners-list__image" src="{{ partner.data.image }}" alt="{{ partner.data.name }}" width="200" height="100">
              </div>
              {% if partner.data.description %}
                <p class="partners-list__description">{{ partner.data.description }}</p>
              {% endif %}
            </a>
          </li>
        {% endfor %}
      </ul>
      </div>
  </main>
  {% include 'footer.njk' %}